body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 0;
  text-align: center;
}

header h1 {
  padding: 0.1em;
  margin: 0;
  font-size: 1.5em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

#map {
  width: 100%;
  height: 500px;
  margin-bottom: 1rem;
}

#filters {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#filters label {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
